.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.content {
  padding: 98px 64px;
  min-height: 530px;

  background-color: var(--color-light-gray);
  border-radius: 30px;
}

.title {
  margin-bottom: 32px;
  max-width: 548px;

  font-size: 48px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.02em;

  color: var(--black-color);
}

.accent {
  position: relative;
  z-index: 0;

  display: inline-block;

  padding: 0 4px;

  font-style: italic;
  font-weight: 400;
}

.accent::before {
  content: "";

  position: absolute;
  z-index: -1;

  left: 0;
  right: 0;
  top: 8px;
  bottom: 2px;

  background-color: var(--theme-light);
  border-radius: 8px;
}

.description {
  max-width: 471px;
  margin-bottom: 64px;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  letter-spacing: -0.02em;

  color: var(--black-color);
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 267px;
  min-height: 60px;
  padding: 16px 88px;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.56;

  color: var(--black-color);
  background-color: var(--button-main);

  border-radius: 12px;

  transition: background-color 200ms ease;
}

.button:hover,
.button:focus {
  background-color: var(--button-hover);
}

.imageWrapper {
  position: relative;

  min-height: 530px;

  overflow: hidden;
  border-radius: 30px;
}

.image {
  object-fit: cover;
}
